/* #region GLOBAL VARIABLES SECTION */
:root {
    --yellow: #ecc511;
    --red: #7a0202;
    --gray: #313132;
    --white: #fff;
    --black: #000;
    --darkgray: #222;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* #endregion GLOBAL VARIABLES SECTION*/
/* #region RESET SECTION*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* #endregion RESET SECTION*/
/* #region GLOBAL STYLING SECTION */

.centered {
    max-width: 1000px;
    margin:0 auto ;
}
/* #endregion GLOBAL STYLING SECTION */
/* #region NAVBAR SECTION */

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__logo {
    width: 150px;
}
.navbar__icon {
    height: 25px;
    fill: var(--red);
}

.navbar__linkcontainer {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}
 
.navbar__contactlinks {
    display: flex;
    justify-content: flex-end;
    
}
.navbar__links {
    width: 500px;
}
.navbar__link {
    color: var(--black);
    margin-left: 20px;
    font-size: 0.8rem;
}
.navbar__link--icon {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.navbar__link--phone {
    color: var(--yellow);
}
.navbar__link--margin {
    margin-right: 10px;

}

.navbar__link--menu:hover {
    border-bottom:2px var(--yellow) solid ;
    
}



/* #endregion NAVBAR SECTION*/
/* #region HERO SECTION */


.hero__image {
    height: 40vh;
    background-image: url("project-files/materiale/slider.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__headline {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Lexend', sans-serif;
    color: var(--white);
    text-shadow: 0px 4px 6px rgba(0,0,0,0.65);
}

.hero__textTop {
    font-size: clamp(2rem, 1vw + 2rem, 3rem);
    line-height: 0.7;
}
.hero__textButtom {
    font-size: clamp(3rem, 3vw + 3rem, 5rem);
    padding-bottom:15px ;
    font-weight: 900;
}


.hero__btn {
    background-color: transparent;
    position: relative;
    color: var(--white);
    border: none;
    padding: 10px 20px;
    z-index: 0;
}
.hero__btn::before {
    opacity: 0.8;
    background-color:var(--red);
    position: absolute;
    inset: 0;
    content: "";
    z-index: -1;
}
/* #endregion HERO SECTION */
/* #region PRODUCTS SECTION */
.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.product__textblock {
    text-align: center;
}
.product__heading {
    padding-top:50px ;
}
.product__text {
    font-size: 1.2rem;

}
.product__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 50px;
}
.product__single {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.product__image {
    height: 220px;
    margin: 20px;
}
/* #endregion PRODUCTS SECTION */
/* #region ADVICE SECTION */
.advice {
    background-image: url("project-files/materiale/trae.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 320px;
}

.advice__infomationcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
}
.advice__heading {
    padding-top: 30px;
    font-size: 1.2rem;

}
.advice__text {
    padding-top: 30px;
    font-size: 0.8rem;
    line-height: 1.5;
}
.advice__text--innertext {
    font-size: 0.8rem;

}
.advice__guarantee {
    margin-top: 30px;
    padding-bottom: 310px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}
.advice__image {
   height: 65px;
}
/* #endregion ADVICE SECTION */
/* #region CONTACT SECTION */
.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__container {
    max-width: 900px;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 30px;
}
.contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__heading {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.8rem;
}
.contact__text {
    text-align: center;
    margin-bottom:30px ;
}
.contact__innertext {
    font-weight: 600;
}
.contact__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.contact__input {
    height: 30px;
    margin-bottom: 10px;
}
.contact__bth {
    height: 30px;
    margin-top:10px;
    border: none;
    background-color: var(--red);
    color: var(--white);
    text-transform: uppercase;
}
.contact__map {
    height: 260px;
    width: 100%;
}
/* #endregion CONTACT SECTION */
/* #region FOOTER SECTION */

.footer {
    display: flex;
    justify-content: space-around;
    height: 130px;
    background-color: var(--gray);
}
.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;


}
.footer__support {
    max-width: 900px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer__image {
    width: 220px;
}

.footer__textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color:var(--white)
}
.footer__textheading {
    font-size: 1.8rem;
}
.footer__contact {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}
/* #endregion FOOTER SECTION */

/* #region MEDIA QUERIES SECTION */
@media only screen and (max-width: 768px) {
    .navbar {
        height: 50px;
        background-color:blue;
    }
    .product__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;
    }
   
    .product__single {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 600;
    }
    .product__image {
        height: 120px;
        margin: 20px;
    }
}
@media only screen and (max-width: 600px) {
    .navbar {
        background-color: red;   
    }
    .navbar__logo {
        width: 80px;
    }
    .navbar__contactlinks {
        display: flex;
    }
    .hero__image {
        height: 20vh;
        background-image: url("project-files/materiale/slider.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .product__container {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 50px;
    }
    .product__image {
        height: 220px;
        margin: 20px;
    }
    .advice {
        padding: 20px;
        height: 420px;
    }
    .advice__infomationcontainer {
        display: grid;
        grid-template-columns: 1fr;
        
    }
    .advice__image {
        display: none;
     }
     .contact__info {
         padding: 20px;
     }
     .contact__container {
         height: 650px;
         padding-left: 20px;
         padding-right: 20px;
        display: grid;
        grid-template-columns:1fr;
    }
    .footer {
        height: 160px;
    }
    .footer__image {
        display: none;
        width: 220px;
    }
    .footer__support {
        padding-top: 20px;
        justify-content: center;
    }
    .footer__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
    .footer__textheading {
        font-size: 1.6rem;
    }
    .footer__text {
        font-size: 0.9rem;
        line-height: 1.3;
    }
    .footer__textbottom {
        font-size: 0.7rem;
        margin-top: 10px;
    }
}
/* #endregion MEDIA QUERIES SECTION */


